.markdown{
  ol > li{
    list-style-type: custom-counter-style;
    ul, ol{
      margin-top: 0;
    }
    ol > li{
      list-style-type: custom-counter-style;
      ol > li{
        list-style-type: custom-counter-style;
      }
      ul > li{
        list-style-type: circle;
      }
    }
    ul > li{
      list-style-type: circle;
    }
  }
  ul li{
    list-style-type: disc;
    ul, ol{
      margin-top: 0;
    }
    ul > li{
      list-style-type: circle;
      ul > li{
        list-style-type: square;
      }
      ol > li{
        list-style-type: custom-counter-style;
      }
    }
    ol > li{
      list-style-type: custom-counter-style;
    }
  }

  h1, h2, h3, h4, h5, h6, p{
    line-height: 2;
  }
  h1 {
    text-align: center;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    font-weight: 700;
    margin-top: .4em;
    > span{
      margin-left: 8px;
      cursor: pointer;
      color: #999;
      &:hover{
        color: #0070f3;
      }
    }
  }
  h1, h2, h3, h4, h5, p, dl {
    padding: 0;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h1, h2 {
    border-bottom: 1px solid #efeaea;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.8rem;
  }

  a {
    vertical-align: baseline;
    &:hover{
      text-decoration: none;
    }
  }

  ul, ol {
    padding: 0;
    padding-left: 12px;
    margin: 10px;
  }
  li {
    line-height: 24px;
    > p{
      display: inline-block;
    }
  }

  ol ol, ul ol {
    list-style-type: lower-roman;
  }

  pre {
    padding: 0px 24px;
    width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  code, pre {
    background: #0e2a35;
    color: inherit;
  }

  code {
    padding: 0 6px;
    border-radius: 3px;
    font-family: Consolas, Monaco, Andale Mono, monospace;
    margin: 0 2px;
    background: #eee;
    color: #d56161;
  }

  pre {
    line-height: 1.7em;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  pre > code {
    border: 0;
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: 1em;
    white-space: pre;
    background: 0 0;
    // color: #666555;
    color: #ccc;
  }

  /** markdown preview plus 对于代码块的处理有些问题, 所以使用统一的颜色 */
  code .keyword {
    color: #8959a8;
  }

  code .number {
    color: #f5871f;
  }

  code .comment {
    color: #998;
  }

  aside {
    display: block;
    float: right;
    width: 390px;
  }

  blockquote {
    border-left: 4px solid #eee;
    padding-left: 1em;
    margin-left: 0;
  }
  blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
    &::before{
      content: '\2014 \00A0';
    }
  }

  blockquote p {
    color: #666;
  }
  hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
  }

  dl {
    padding: 0;
  }

  dl dt {
    padding: 10px 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
  }

  dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  dd {
    margin-left: 0;
  }

  /* Code below this line is copyright Twitter Inc. */

  button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
  }
  button, input {
    line-height: normal;
  }
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  button, input[type='button'], input[type='reset'], input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
  }
  /* override default chrome & firefox settings */
  input:not([type='image']), textarea {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  input[type='search'] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  label, input, select, textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 18px;
  }
  input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
    margin-bottom: 0;
  }
  input[type='text'], input[type='password'], textarea, select {
    display: inline-block;
    width: 210px;
    padding: 4px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  select, input[type='file'] {
    height: 27px;
    line-height: 27px;
  }
  textarea {
    height: auto;
  }
  /* grey out placeholders */
  :-moz-placeholder {
    color: #bfbfbf;
  }
  ::-webkit-input-placeholder {
    color: #bfbfbf;
  }
  input[type='text'], input[type='password'], select, textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type='text']:focus, input[type='password']:focus, textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
      0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
      0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
      0 0 8px rgba(82, 168, 236, 0.6);
  }
  /* buttons */
  button {
    display: inline-block;
    padding: 4px 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
      0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
      0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
      0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(
      linear,
      left top,
      left bottom,
      from(#049cdb),
      to(#0064cd)
    );
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #049cdb),
      color-stop(100%, #0064cd)
    );
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #004b9a;
    border-bottom-color: #003f81;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
  button:hover {
    color: #fff;
    background-position: 0 -15px;
    text-decoration: none;
  }
  button:active {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15),
      0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15),
      0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15),
      0 1px 2px rgba(0, 0, 0, 0.05);
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  table {
    background: #f8f8f8;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /*-webkit-box-shadow: 0 1px 1px #ccc;
        -moz-box-shadow: 0 1px 1px #ccc;
        box-shadow: 0 1px 1px #ccc;   */
  }
  table tr:hover {
    background: #fafafa;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  table td, .table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  table th {
    background: #34495e;
    color: white;
    border-top: none;
    padding: 5px;
  }

  table td:first-child, table th:first-child {
    border-left: none;
  }

  table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
  }
  table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
  }
  table th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }
  table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
  }
  table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
  }
}
