
.container{
  --side-width: 200px;
  padding-top: 20px;
  display: flex;
}

.side{
  position: fixed;
  width: var(--side-width);
  li{
    line-height: 2.2;
    padding: 0 10px;
    a{
      display: block;
    }
    &:not(:last-child){
      border-bottom: 1px solid #eee;
    }
  }
}

.content{
  width: calc(100% - var(--side-width));
  margin-left: calc(var(--side-width) + 20px);
  margin-bottom: 30px;
}
