:root{
  --header-height: 60px;
  --footer-height: 100px;

  --main-font-color: #404040;
  --mark-font-color: #999;
  --link-font-color: #6088b6;
  --vue-bg: linear-gradient(315deg,#42d392 25%,#647eff);

}

html{
  font-size: 14px;
  color: var(--main-font-color);
}
body, ul, h1, h2, h3, h4, h5, h6, p, pre{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: var(--link-font-color);
}
