.banner{
  height: 50vw;
  max-height: 500px;
  text-align: center;
  position: relative;
  .box{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg{
    padding: 0 10px;
    background: white;
    filter: contrast(100);
  }
  strong{
    font-size: 64px;
    font-weight: 900;
    -webkit-text-stroke: 2px;
    --blur: 10px;
    --spacing-start: -22px;
    --spacing-end: 5px;
    animation: blend 2.6s forwards;
  }
  p{
    white-space: nowrap;
    --blur: 2px;
    --spacing-start: -6px;
    --spacing-end: 3px;
    animation: blend 2.6s forwards;
  }
  @keyframes blend {
    from{
      filter: blur(var(--blur));
      letter-spacing: var(--spacing-start);
    }
    to{
      filter: blur(0);
      letter-spacing: var(--spacing-end);
    }
  }
  .btn{
    display: inline-block;
    margin-top: 16px;
    padding: 4px 10px;
    border: 2px solid;
    border-radius: 20px;
    opacity: 0;
    animation: enter 2s forwards .6s;
  }
  @keyframes enter {
    from{
      transform: translateY(20px);
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .banner strong{
    font-size: 50px;
  }
}

.article{
  .paragraph{
    font-size: 16px;
    text-indent: 2em;
    text-align: justify;
  }
  .mark{
    color: var(--mark-font-color);
    text-indent: 2em;
    &::before{
      content: '>';
      margin-right: 6px;
    }
  }
}

.peculiarity{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > li{
    width: calc(50% - 20px);
    padding: var(--both-sides-padding);
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0,0,0,.05);
    margin-bottom: 32px;
    border-radius: 8px;
    h2{
      margin-bottom: 8px;
    }
    p{
      text-align: justify;
      color: var(--mark-font-color);
    }
  }
}
@media (max-width: 768px) {
  .peculiarity > li{
    width: 100%;
  }
}