$headerHeight: 60px;

.header{
  display: flex;
  justify-content: space-between;
  line-height: $headerHeight;
  box-shadow: 0 6px 10px 4px rgba(0,0,0,.05);
  border-bottom: 1px solid white;
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 0 var(--both-sides-padding);
  background-color: rgba(249,251,255,.6);;
  backdrop-filter: blur(5px);
  h1{
    background: var(--vue-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a{
    color: initial;
  }
}

.navigation{
  > a:not(:last-child){
    margin-right: 20px;
  }
}
