.page-home__c4978{text-align:center}.red-font__e0f12{color:red}

.page-about__bf47c p{font-size:14px}

.not-found__b4c00{text-align:center;line-height:200px;font-size:50px}

#root{max-width:1200px;margin:0 auto}.header__b194a a{margin-right:20px}.header__b194a .github__af57b{float:right;color:#f200ff}

